<table class="site-footer" border="0" align="center" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td align="center" class="container">
      <table class="max-w600" align="center" cellpadding="0" cellspacing="0" border="0" width="600">

        <tr>
          <td>{{ macro.spacer('40') }}</td>
        </tr>

        <tr>
          <td align="center">
            <a href="{{ zyneUrl }}"><img src="{% if theme == 'dark' %} {{ zyneLogoWhite }} {% else %} {{ zyneLogo }} {% endif %}" width="80" height="18" alt="Zyne" title="Zyne" /></a>
          </td>
        </tr>

        <tr>
          <td>{{ macro.spacer('40') }}</td>
        </tr>

        <tr>
          <td align="center">

            <div class="links">
              <a href="[Unsubscribe_Preferences]">Manage your email subscription</a>
              <a href="[Unsubscribe]">Unsubscribe</a>
              <a href="{{ privacyUrl }}">Privacy policy</a>
              <a href="{{ conditionsUrl }}" class="last">Terms and conditions</a>
            </div>

          </td>
        </tr>

        <tr>
          <td>{{ macro.spacer('15') }}</td>
        </tr>

        <tr>
          <td align="center">
            <div class="copy">&copy; Imperial Tobacco, 3711, rue Saint-Antoine O, Montreal, QC H4C 3P6, Canada</div>
          </td>
        </tr>

        <tr>
          <td>{{ macro.spacer('15') }}</td>
        </tr>

        <tr>
          <td align="center">
            <a class="link-zyne" href="{{ zyneUrl }}" >zyne.ca</a> {{ macro.spacer('40') }}
          </td>
        </tr>

      </table>
    </td>
  </tr>
</table>