<table class="site-header" border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td class="container" align="center">
      <table class="max-w600" border="0" cellpadding="0" cellspacing="0" width="600">

        <tr>
          <td>{{ macro.spacer('50') }}</td>
        </tr>
          
        <tr>
          <td align="center" valign="top">
            <a href="{{ zyneUrl }}"><img class="site-header__logo" src=" {% if theme == 'dark' %} {{ zyneLogoWhite }} {% else %} {{ zyneLogo }} {% endif %}" width="300" height="68" alt="Zyne" title="Zyne" /></a>
          </td>
        </tr>

        <tr>
          <td>{{ macro.spacer('30') }}</td>
        </tr>

        <tr>
          <td align="center" valign="top">
            <div class="site-header__text">
              <span>Hello [%first_name%]!</span>
              <br />
              <span>We’ve got some pretty interesting content for you on Zyne. Here’s a sampler.</span>
            </div>
          </td>
        </tr>

        <tr>
          <td>{{ macro.spacer('35') }}</td>
        </tr>

      </table>
    </td>
  </tr>
</table>